mixin main()
  .level2(style="")
    .container
      img(src="./images/global/demo/level2.png" style="width:100%;")
  .level3(style="")
    .container
  .level4(style="")
    .top
      .container
        img(src="./images/global/demo/level4.png" style="width:100%;")
    .bottom
      .container
        .icon-works
        a.left 更多或成股份精选作品
        a.right 查看更多
  .level5
    .container
      .col-lg-4.item
        .inner
          .icon
          .slog
          h1 我们的愿景
      .col-lg-4.item
        .inner
          h1 我们的使命
      .col-lg-4.item
        .inner
          h1 我们的价值观
  .level6
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
  .level7
    .container
      #carousel-news.carousel(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#carousel-news" data-slide-to="0" class="active")
          li(data-target="#carousel-news" data-slide-to="1")
          li(data-target="#carousel-news" data-slide-to="2")
        .carousel-inner(role="listbox")
          .item.active 1
          .item 2
          .item 3
        a.left.carousel-control(href="#carousel-news" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.right.carousel-control(href="#carousel-news" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only next
  .level8
    .container
      .left.col-lg-4
        span 信任
        br
        span 来自国内外知名品牌
      .right.col-lg-8
        |商标