mixin main()
  .level2#level2
    .container
      img(src="./images/global/demo/level2.png" style="width:100%;")
  .level3
    .container
  .level4
    .top
      .container
        img(src="./images/global/demo/level4.png" style="width:100%;")
    .bottom
      .container
        .icon-works
        a.left 更多或成股份精选作品
        a.right 查看更多
  .level5
    .col-lg-4.item
      .inner(style="background-color:#eee;padding-left: 163px;")
        .left.icon(style="background-image:url('./images/page/index/icon/icon-yj.png');")
        .right
          h1.title 我们的愿景
          p.slogen 假字假字假字假字假字假字
    .col-lg-4.item
      .inner(style="background-color:#f5f5f5;padding-left: 125px;")
        .left.icon(style="background-image:url('./images/page/index/icon/icon-yj.png');")
        .right
          h1.title 我们的使命
          p.slogen 假字假字假字假字假字假字
    .col-lg-4.item
      .inner(style="background-color:#fbfbfb;padding-left: 120px;")
        .left.icon(style="background-image:url('./images/page/index/icon/icon-yj.png');")
        .right
          h1.title 我们的价值观
          p.slogen 假字假字假字假字假字假字
  .level6
    .title(style="font-size:40px;text-align:center;") 火橙团队
    .slogen(style="font-size:16px;text-align:center;margin-top:15px;margin-bottom:60px;") 固定管理团队，汇集大量全球顶尖创意人，整合无限云创意资源
    .col-5
      img.item(src="./images/page/index/level6-group/c-yangjun.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-hrh.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-xc.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-qs.png" style="width: 100%;background-image:url('');background-size: cover;")
    .col-5
      img.item(src="./images/page/index/level6-group/c-jlx.png" style="width: 100%;background-image:url('');background-size: cover;")
  .level7
    .container
      #carousel-news.carousel(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.active
            img(src="./images/global/demo/level7-carousel1.png")
          .item
            img(src="./images/global/demo/level7-carousel1.png")
          .item
            img(src="./images/global/demo/level7-carousel1.png")
        a.left.carousel-control(href="#carousel-news" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.right.carousel-control(href="#carousel-news" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only next
        ol.carousel-indicators
          li(data-target="#carousel-news" data-slide-to="0" class="active")
          li(data-target="#carousel-news" data-slide-to="1")
          li(data-target="#carousel-news" data-slide-to="2")
  .level8
    .container
      .left.col-lg-4.col-md-12
        h1 信任
        h1 来自国内外知名品牌
      .right.col-lg-8.col-md-12
        .brand-list