mixin footer()
  footer
    .container
      .left.col-lg-6
        .top
          .brand
        .bottom
          span 关于我们
          span 加入我们
          span 联系我们
      .right.col-lg-6
        .top
          .icon-list
        .bottom
          span Copyright © 2015火橙股份