mixin header(activeBar)
  header#header
    .container
      .navbar-header
        a.navbar-brand
          .logo(style="")
      nav.collapse.navbar-collapse(style="padding-right:80px;")
        ul.nav.navbar-nav.navbar-left(style="margin-left:200px;")
          li
            a 首页
          li
            a 关于
          li
            a 团队
          li
            a 作品
          li
            a 新闻
          li
            a 联系我们
        ul.nav.navbar-nav.navbar-right
          li
            a 火橙优选